doctype html
html
  head
    title= Login
    meta(
      name="viewport",
      content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    )
    meta(charset="utf-8")
    style
      include dist/main.css
  body
    .w-full.h-full.flex.justify-center.items-center.bg-slate-300
      .bg-slate-100.rounded-lg.p-4.w-96 
        .info.hidden.text-sm
          .flex.flex-row
            .title.font-semibold.mr-4
            .message.font-normal

        form#form-login.flex.flex-col(data-parsley-validate action="/login" method="post")
          label(for="email") Email * :
          - var email = form ? form.email : ''
          input(type="email" name="email" data-parsley-trigger="change" value=email required)

          - reg = "^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*\\W)(?!.* ).{8,16}$"
          label(for="password") Password * :
          - var password = form ? form.password : ''
          input#password(type="password" name="password" data-parsley-trigger="change" data-parsley-pattern=reg value=password required)

          .flex.flex-row.justify-end
            input.mt-4.btn(type="submit" value="Login")
        .text-sm.mt-2.float-right.mr-1
          span or 
          a(href="/signup") Signup

    script
      include ../node_modules/jquery/dist/jquery.min.js
      include ../node_modules/parsleyjs/dist/parsley.min.js
      include dist/login.js
