mixin modal(id, title, width='450px', height='0px')
  .modal.micromodal-slide(id= id, aria-hidden="true")
    .modal-overlay(tabindex="-1", data-micromodal-close)
      .modal-container(
        role="dialog",
        aria-modal="true",
        aria-labelledby="modal-1-title",
        style=`width: ${width}; min-height: ${height}`
      )
        header.flex.flex-row.justify-between
          .font-semibold.select-none= title
          button(
            aria-label="Close Modal",
            data-micromodal-close,
            onclick="MicroModal.close()"
          )
            +icon("M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z")
        #modal-1-content.mt-2.flex.flex-col
          if block
            block
          else
            div no contents in the modal
